<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta content="initial-scale=1, minimum-scale=1, width=device-width" name="viewport">
    <title>Google Play Badges – Google</title>
    <meta name="referrer" content="no-referrer" />
    <link rel="shortcut icon" href="https://lh3.googleusercontent.com/Kn9KqdlqGu_4wzDjbSkRFRaXSMfFi0nT0CW6wuTi-q0ucbnvOce5YSceK2hyHWyysd72Ch4uXT4oaYAztc7KpZE-vMQNNAcwU4pyKHEbLl1QsqhzznyF=s0">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap" nonce="8CAyB9qnPyeUh3nthMVGCg">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,400italic,500,500italic,700,700italic,900,900italic&subset=latin,greek-ext,greek,vietnamese,cyrillic-ext,cyrillic,latin-ext" nonce="8CAyB9qnPyeUh3nthMVGCg">
    <link href="https://www.gstatic.com/glue/cookienotificationbar/cookienotificationbar.min.css" rel="stylesheet" nonce="8CAyB9qnPyeUh3nthMVGCg">
    <link href="/intl/en_us/badges/static/css/index.min.css?cache=79accc0" rel="stylesheet" nonce="8CAyB9qnPyeUh3nthMVGCg">

    <!-- Google Tag Manager -->
    <script nonce="8CAyB9qnPyeUh3nthMVGCg">
      function glueCookieNotificationBarLoaded() {
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-5HT3VPJ8');
      }
    </script>
    <!-- End Google Tag Manager -->

    <script src="../badges/static/js/detect.min.js" nonce="8CAyB9qnPyeUh3nthMVGCg"></script>
  </head>
  <body>
    <div class="badges">
<div id="play-header" data-ng-controller="ScrollController as scrollCtrl">
  <div class="maia-aux">
    <div class="nav-bar">
      <h1>
        <a href="https://play.google.com">
          <img alt="Google Play" src="https://lh3.googleusercontent.com/SnctPmTxZhH89s1b5GMoyhmujcqSVA8p_y9RZw6LCPGAQPCjxZBhJc0Dhbzy0P3lKrGd496VV3Z5nw8youku1PStLQ8xnbl13fO1Y70eJyiRZZRZaA=s0" srcset="https://lh3.googleusercontent.com/0boH1fujKKcsP0xPt4VF-RcIsHfJQizc8gXfNXuoQuIhbRZ-sFhSQMawsyX_BHWpMOgpnGNvivN8k_2V0x7tXEm57F30uqhzJZFpRRQF8rd1os6_gTMg=s0 2x"/>
        </a>
        <a id="mobile-menu-option"></a>
      </h1>
      <ul class="play-main-nav" id="play-nav">
        <li>
          <a href="#"
            ng-click="scrollCtrl.scrollTo_($event, 'hello', {'hash': false, 'duration': 600})"
            class="default">Hello</a>
        </li>
        <li>
          <a href="#"
            ng-click="scrollCtrl.scrollTo_($event, 'guidelines', {'hash': false, 'duration': 600})"
            class="default">Badge Guidelines</a>
        </li>
        <li>
          <a href="#"
            ng-click="scrollCtrl.scrollTo_($event, 'badge-generator', {'hash': false, 'duration': 600})"
            class="default">Badge Generator</a>
        </li>
        <li>
          <a href="#"
            ng-click="scrollCtrl.scrollTo_($event, 'text-guidelines', {'hash': false, 'duration': 600})"
            class="default">Text Guidelines</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div id="hello">
  <div class="maia-aux">
    <div class="maia-cols main-content">
      <div class="maia-col-5">
        <div class="subtitle">hello</div>
        <div class="left-section">
          <h2 class="section-title">Welcome to the <span class="section-span">Google Play</span> badge page</h2>
          <p>Use these badges in your marketing to promote your content on Google Play.</p>
<p>If you are driving to music or podcast streaming in Google Play Music, use the Google Play Music badge available <a href="https://play.google.com/intl/en_us/badges-music/" rel="noopener" target="_blank">here</a> instead.</p>
        </div>
      </div>
      <div class="maia-col-7" id="hero-wrapper">
        <img alt="hero-image" src="https://lh3.googleusercontent.com/xV1RFhOWymzV3vqi0wFzDapsxFmC2KH0pENMCRFOveRJqaJaD1ZC7g2RVJiJa0oY_9hRTsvAodO10SC52swFCyIdfvniGHu3WRGOUc_axm3CXtXmP8Q=s0"/>
      </div>
    </div>
  </div>
</div>

  <div id="guidelines">
    <div class="maia-aux">
      <div class="maia-cols">
        <div class="maia-col-5">
          <div class="left-section">
            <div class="subtitle">badge guidelines</div>
            <h2 class="section-title">Dos &amp; Don'ts</h2>
            <p>Follow these guidelines whenever you are using a Google Play badge.</p>
            <div class="donts-wrapper">
              <ul>
                <li>
                  <p class="badge-highlight">Never use out-of-date badges</p>
                  <div class="maia-col-6">
                    <img alt="Incorrect badge"
                      src="https://lh3.googleusercontent.com/x1K3DR0gud_DXCwsu9WyLwJ1f90KbqtOaSaMb3cH17AKpUXrIata-N9jKiVg9UeJinCnWOkVsWshCPO6zhzIM2dbbQR2fZnJBvdCthc=s0"
                      class="badge-incorrect">
                    <span class="incorrect-badge incorrect-img">Old</span>
                    <div class="img-wrapper">
                      <img alt="outofdate-badge" src="https://lh3.googleusercontent.com/RZUu8VXZttMuAwiE1N-4P5RjwzwHcQwN0RyzCuR8493RYWRvtYLzG8J1Q4jKEA8nJ9-IzjCfGrPg-n-RAaZgRCJnna6RmYvnmLJet3Wdyq8ozacra-U=s0"/>
                    </div>
                  </div>
                  <div class="maia-col-6">
                    <img alt="Correct badge"
                      src="https://lh3.googleusercontent.com/MsBi1Gdq1Hh4Vpis5bdeyq1ZEuQiiLWsCEdSxqo041pCKukD07ZbRzusELsREmlO-bBbaMecFNB4qF-NHyHSqpqwD5wZWFk-BJ7-=s0"
                      class="badge-correct">
                    <span class="correct-badge correct-img">New</span>
                    <div class="img-wrapper">
                      <img alt="outofdate-badge" src="https://lh3.googleusercontent.com/q1k2l5CwMV31JdDXcpN4Ey7O43PxnjAuZBTmcHEwQxVuv_2wCE2gAAQMWxwNUC2FYEOnYgFPOpw6kmHJWuEGeIBLTj9CuxcOEeU8UXyzWJq4NJM3lg=s0"/>
                    </div>
                  </div>
                </li>
                <li>
                  <p class="badge-highlight">Never change badge color</p>
                  <div class="maia-col-6">
                    <img alt="Correct badge"
                      src="https://lh3.googleusercontent.com/0xB87Z0ubVJtwJErrH2Z-s-cNm7-6z5JmBBY2voghR9wz_W_s4uBz4OR6ti40_cop-WuDKIQ-Vx60wxxgOrR3f7JBWsymgo_s7brPQ=s0"
                      class="badge-incorrect">
                    <span class="incorrect-badge incorrect-img">No</span>
                    <div class="img-wrapper">
                      <img alt="Color badge" src="https://lh3.googleusercontent.com/PjYkR5BtvrlFTUUAWq7RrZ8gRbfiuyk4ZbniGJIeADVENDX7T6cBlkyEnlCsTaDbFaDCYj_e_-fjbHjl0Lig_VRJsKHL_5qmSLuNjzZF4t_4_TAzcg=s0"/>
                    </div>
                  </div>
                  <div class="maia-col-6">
                    <img alt="Correct badge"
                      src="https://lh3.googleusercontent.com/rg4jBq6s0JO060a9s1uoTlYtwKKGXHrfkU0ny1oZJ98fSfgSrTfH3cPRcCEgF7ObXLEkfai1KhYCl-Avs4jECDJNeAkKpjUcTAkxgA=s0"
                      class="badge-incorrect">
                    <span class="incorrect-badge incorrect-img">No</span>
                    <div class="img-wrapper">
                      <img alt="Color badge" src="https://lh3.googleusercontent.com/MszAskMBzb1Pefs2ZSieS4xXAzC0RzIIgJRKK1gXp8yEsGZ3YDifoDJmYhJ5coVFCefxMkbAjy-q6--GOejZSmDyLksD5eXyUIQh12ejmVLibo7gL0w=s0"/>
                    </div>
                  </div>
                </li>
                <li>
                  <p class="badge-highlight">Never remove or rearrange badge elements</p>
                  <div class="maia-col-6">
                    <img alt="Correct badge"
                      src="https://lh3.googleusercontent.com/rnKyB3A8dYClZqH_X8xBEUNE4HBP6kjGDDnYbyaCS_G39Rl172_MN1ERj0TJ9nklC0fbhdM3Sh92KGBtUH8_6S49c7zeNmT6GYgbz1Y=s0"
                      class="badge-incorrect">
                    <span class="incorrect-badge incorrect-img">No</span>
                    <div class="img-wrapper">
                      <img alt="Rearranged badge" src="https://lh3.googleusercontent.com/NlsBOKvBwgqarCqLypBRZb3ox5oj3IsWRw5m3i4mxlZ2AyLzSkAdNFSYP2yKTaKLRJ5KrE27EcD8tgtaboq0WFR0EJyoWGqsD3GZ9FY1e3b9dvEmO7g=s0"/>
                    </div>
                  </div>
                </li>
                <li>
                  <p class="badge-highlight">Make sure badge is legible</p>
                  <div class="maia-col-6">
                    <img alt="Incorrect badge"
                      src="https://lh3.googleusercontent.com/KUO_Rdy97OFPWGbT9R4oOVMUtonkcHKAqj8jj5_Oss0lc6KlHNX80K3rMZjHsw4-B3OOi9AWkTWbI2GOmOIxkpbO9rOU9WbELPH-Tw=s0"
                      class="badge-incorrect">
                    <span class="incorrect-badge incorrect-img">No</span>
                    <div class="img-wrapper">
                      <img alt="Legible badge" src="https://lh3.googleusercontent.com/ww5Fcx8HwwbfAD1HZHhtZnQHXd3qHjKuTwPxfqpUuuY8egrMxdCxK8lGTwIjXo-LL221TgfphFjTDqlKjJVWTWKPhN5ubOlFTknzvaQs0dL_PM8lpxjj=s0"/>
                    </div>
                  </div>
                  <div class="maia-col-6">
                    <img alt="Correct badge"
                      src="https://lh3.googleusercontent.com/8PJ-v5Guggh5fY3FRmNlGMkQuzVYHCso-37P_aLUkOXPHDefYfNJiFqyWo08aXJBszjVtxQeS4zRY4jukU4a7d9tPo3XqcK-nldv=s0"
                      class="badge-correct">
                    <span class="correct-badge correct-img">Yes</span>
                    <div class="img-wrapper">
                      <img alt="Legible badge" src="https://lh3.googleusercontent.com/RyLoNcOmb91IxHIP9NWfC82chbsCsT-5R25efns1FmuM8xz6znE4CRjIEBosZ1FH2xG1UqH6Axyp-vPFnm4sazbrsaB-S0QT_cN9uWU9UKoSQYCjYQ=s0"/>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="maia-col-6">
          <div class="right-section">
            <ul class="badge-guidelines">
<li>Use the badges as provided. Never alter the badges.</li>
<li>There must be clear space surrounding the badge equal to one-quarter the height of the badge.</li>
<li>The badge must be large enough that all of the text is legible.</li>
<li>The Google Play badge should be the same size or larger than other application store badges.</li>
<li>Badges must be shown on a solid colored background or a simple background image that does not obscure the badge.</li>
<li>Match the badge language to the language of your marketing campaign whenever possible.</li>
<li>Any online use of the badge must link to the Google Play store. Use the generator below to get the HTML to include in your digital marketing.</li>
<li>The badge can only be used to promote content available on Google Play.</li>
<li>Include the appropriate Google Play legal attribution when there is space in the creative. See the badge generator for localized legal attributions.</li>
<li>Use of the Google Play badge must be reviewed and approved by the Google Play Partner Brand team if the badge will be in:
<ul class="terms">
<li>a TV commercial</li>
<li>an out-of-home marketing campaign</li>
<li>a marketing campaign that will receive over 1 million impressions</li>
</ul>
Use <a href="https://partnermarketinghub.withgoogle.com/login/?next=/submit-assets/" rel="noopener" target="_blank">this form</a> to submit your marketing for approval.</li>
</ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="badge-generator" data-ng-controller="BadgesController as badgesCtrl">
    <div class="content-wrapper">
      <div class="maia-aux">
        <div class="maia-cols">
          <div class="maia-col-5">
            <div class="subtitle">badge generator</div>
            <div class="section-content">
              <h2 class="section-title">Get your badge</h2>
              <p>Choose your language, deliverable type, and file type to generate your Google Play badge.</p>
<p>For digital badges, enter the Google Play store URL for your content to generate a badge in HTML to add to your digital marketing.</p>
            </div>
          </div>
          <div class="maia-col-6">
            <div class="form-wrapper">
              <h3 class="title">Generate a badge</h3>
              <form>
                <label>Language:</label>
                <div>
                  <select id="locale" class="badge-option">
                    <option title="Afrikaans" value="af">
                      Afrikaans
                    </option>
                    <option title="Albanian" value="sq">
                      Albanian
                    </option>
                    <option title="Amharic" value="am">
                      Amharic
                    </option>
                    <option title="Arabic" value="ar">
                      Arabic
                    </option>
                    <option title="Armenian" value="hy">
                      Armenian
                    </option>
                    <option title="Azerbaijani" value="az">
                      Azerbaijani
                    </option>
                    <option title="Basque" value="eu">
                      Basque
                    </option>
                    <option title="Belarusian" value="be">
                      Belarusian
                    </option>
                    <option title="Bosnian" value="bs">
                      Bosnian
                    </option>
                    <option title="Bengali" value="bn">
                      Bengali
                    </option>
                    <option title="Bulgarian" value="bg">
                      Bulgarian
                    </option>
                    <option title="Burmese" value="my">
                      Burmese
                    </option>
                    <option title="Catalan" value="ca">
                      Catalan
                    </option>
                    <option title="Chinese (HK)" value="zh-hk">
                      Chinese (HK)
                    </option>
                    <option title="Chinese (CN)" value="zh-cn">
                      Chinese (CN)
                    </option>
                    <option title="Chinese (TW)" value="zh-tw">
                      Chinese (TW)
                    </option>
                    <option title="Croatian" value="hr">
                      Croatian
                    </option>
                    <option title="Czech" value="cs">
                      Czech
                    </option>
                    <option title="Danish" value="da">
                      Danish
                    </option>
                    <option title="Dutch" value="nl">
                      Dutch
                    </option>
                    <option title="English" value="en" selected>
                      English
                    </option>
                    <option title="Estonian" value="et">
                      Estonian
                    </option>
                    <option title="Farsi" value="fa">
                      Farsi
                    </option>
                    <option title="Filipino" value="fil">
                      Filipino
                    </option>
                    <option title="Finnish" value="fi">
                      Finnish
                    </option>
                    <option title="French" value="fr">
                      French
                    </option>
                    <option title="French (CA)" value="fr-ca">
                      French (CA)
                    </option>
                    <option title="Galician" value="gl">
                      Galician
                    </option>
                    <option title="Georgian" value="ka">
                      Georgian
                    </option>
                    <option title="German" value="de">
                      German
                    </option>
                    <option title="Greek" value="el">
                      Greek
                    </option>
                    <option title="Gujarati" value="gu">
                      Gujarati
                    </option>
                    <option title="Hebrew" value="iw">
                      Hebrew
                    </option>
                    <option title="Hindi" value="hi">
                      Hindi
                    </option>
                    <option title="Hungarian" value="hu">
                      Hungarian
                    </option>
                    <option title="Icelandic" value="is">
                      Icelandic
                    </option>
                    <option title="Indonesian" value="id">
                      Indonesian
                    </option>
                    <option title="Italian" value="it">
                      Italian
                    </option>
                    <option title="Japanese" value="ja">
                      Japanese
                    </option>
                    <option title="Kannada" value="kn">
                      Kannada
                    </option>
                    <option title="Kazakh" value="kk">
                      Kazakh
                    </option>
                    <option title="Khmer" value="km">
                      Khmer
                    </option>
                    <option title="Korean" value="ko">
                      Korean
                    </option>
                    <option title="Kyrgyz" value="ky">
                      Kyrgyz
                    </option>
                    <option title="Lao" value="lo">
                      Lao
                    </option>
                    <option title="Latvian" value="lv">
                      Latvian
                    </option>
                    <option title="Lithuanian" value="lt">
                      Lithuanian
                    </option>
                    <option title="Macedonian" value="mk">
                      Macedonian
                    </option>
                    <option title="Malay" value="ms">
                      Malay
                    </option>
                    <option title="Malayalam" value="ml">
                      Malayalam
                    </option>
                    <option title="Marathi" value="mr">
                      Marathi
                    </option>
                    <option title="Mongolian" value="mn">
                      Mongolian
                    </option>
                    <option title="Nepali" value="ne">
                      Nepali
                    </option>
                    <option title="Norwegian" value="no">
                      Norwegian
                    </option>
                    <option title="Polish" value="pl">
                      Polish
                    </option>
                    <option title="Portuguese" value="pt">
                      Portuguese
                    </option>
                    <option title="Portuguese (BR)" value="pt-br">
                      Portuguese (BR)
                    </option>
                    <option title="Punjabi" value="pa">
                      Punjabi
                    </option>
                    <option title="Romanian" value="ro">
                      Romanian
                    </option>
                    <option title="Russian" value="ru">
                      Russian
                    </option>
                    <option title="Serbian" value="sr">
                      Serbian
                    </option>
                    <option title="Sinhalese" value="si">
                      Sinhalese
                    </option>
                    <option title="Slovak" value="sk">
                      Slovak
                    </option>
                    <option title="Slovenian" value="sl">
                      Slovenian
                    </option>
                    <option title="Spanish" value="es">
                      Spanish
                    </option>
                    <option title="Spanish (LATAM)" value="es-419">
                      Spanish (LATAM)
                    </option>
                    <option title="Swahili" value="sw">
                      Swahili
                    </option>
                    <option title="Swedish" value="sv">
                      Swedish
                    </option>
                    <option title="Tamil" value="ta">
                      Tamil
                    </option>
                    <option title="Telugu" value="te">
                      Telugu
                    </option>
                    <option title="Thai" value="th">
                      Thai
                    </option>
                    <option title="Turkish" value="tr">
                      Turkish
                    </option>
                    <option title="Ukrainian" value="ua">
                      Ukrainian
                    </option>
                    <option title="Urdu" value="ur">
                      Urdu
                    </option>
                    <option title="Uzbek" value="uz">
                      Uzbek
                    </option>
                    <option title="Vietnamese" value="vi">
                      Vietnamese
                    </option>
                    <option title="Zulu" value="zu">
                      Zulu
                    </option>
                  </select>
                </div>
                <div>
                  <label>Deliverable Type:</label>
                  <select id="deliverable" class="badge-option">
                    <option value="web">Digital</option>
                    <option value="print">Print</option>
                  </select>
                </div>
                <div>
                  <label>File Type:</label>
                  <select id="file-type" class="badge-option">
                    <option value="png">PNG</option>
                    <option value="eps">EPS</option>
                  </select>
                </div>
                <div class="utm-source">
                  <label>UTM Source (optional):</label>
                  <div>
                    <input type="text" id="utm-source" class="utm-parameter" aria-label="utm-source" />
                  </div>
                </div>
                <div class="utm-campaign">
                  <label>UTM Campaign (optional):</label>
                  <div>
                    <input type="text" id="utm-campaign" class="utm-parameter" aria-label="utm-campaign" />
                  </div>
                </div>
                <div class="store-url">
                  <label>Play Store URL:</label>
                  <span>Enter the full Google Play URL for the content you are marketing.</span>
                  <div>
                    <input type="text" id="play-store-url" aria-label="store-url" />
                    <label class="validation hide">Invalid URL. Please enter valid URL eg. http://play.google.com/store/</label>
                  </div>
                </div>
                <label>Badge:</label>
                <div id="badge-wrapper">
                  <img alt="Get it on Google Play" id="logo-img" width="646" height="250"/>
                  <p class="img-error hide">The selected badge is not available. Please choose another badge.</p>
                </div>
                <div class="preview">
                  <p class="badge-caption">
                    Include this HTML badge in your marketing:
                  </p>
                  <textarea class="badges-code" id="badge-text-code" aria-label="text"></textarea>
                </div>
                <label>Legal attribution:</label>
                <p id="legal-attribution">
                  Google Play and the Google Play logo are trademarks of Google Inc.
                </p>
                <div class="download-btn-wrapper">
                  <a data-g-event="cta-badge-download"
                    data-g-label="play-badge-download-btn"
                    id="download-btn"
                    download="google-play-badge.png">
                    Download
                  </a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="text-guidelines">
    <div class="maia-aux">
      <div class="maia-cols">
        <div class="maia-col-5">
          <div class="left-section">
            <div class="subtitle">text guidelines</div>
            <h2 class="section-title">Using <span class="section-span">Google Play</span> in text</h2>
            <p>Any use of Google Play or Android in text in your marketing must be reviewed and approved by the Google Play Partner Brand team.<br>Use <a href="https://partnermarketinghub.withgoogle.com/login/?next=/submit-assets/" rel="noopener" target="_blank">this form</a> to submit your marketing for approval.</p>
          </div>
        </div>
        <div class="maia-col-6">
          <div class="right-section">
            <ul class="badge-guidelines">
<li>Any use of the Google Play name in your marketing or communications must be accompanied by a legal attribution footer stating: &ldquo;Google Play and the Google Play logo are trademarks of Google LLC.&rdquo;</li>
<li>The <sup>TM</sup> symbol should never be in the legal attribution footer.</li>
<li>When mentioning content available on Google Play always says "on Google Play".
<ul id="play-content">
<li><span class="incorrect">Incorrect</span>: Our app is now available from Google Play.</li>
<li><span class="correct">Correct</span>: Our app is now available on Google Play.</li>
</ul></li>
<li>For Android guidelines go <a href="http://developer.android.com/distribute/tools/promote/brand.html" rel="noopener" target="_blank">here</a>.</li>
</ul>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="maia-footer" id="maia-footer" data-ng-controller="ChangeLanguageController as language">
  <div id="maia-footer-local">
    <div class="maia-aux">
      <div class="maia-cols">
        <div class="maia-col-6">
          <div class="share-wrap">
            <div class="share-inner">
              <p>Follow us on :</p>
              <ul class="social-sharing">
                <li>
                  <a class="social-icons"
                    data-g-action="click"
                    data-g-event="social"
                    data-g-label="fb"
                    href="https://www.facebook.com/GooglePlay"
                    target="_blank">
                    <img alt="Follow Google Play on Facebook" src="https://lh3.googleusercontent.com/BLuzIfqck4jvnWSiBVzaPPXigiV95sf2RZ-pghUPl2zyhm4BEQrp54FQgia9IFWGhsBOxAsX8fJSh-gqENh2rcVEkIgwURF-dmG8EA=s0">
                  </a>
                </li>
                <li>
                  <a class="social-icons"
                    data-g-action="click"
                    data-g-event="social"
                    data-g-label="twt"
                    href="https://twitter.com/GooglePlay"
                    target="_blank">
                    <img alt="Follow Google Play on Twitter" src="https://lh3.googleusercontent.com/PWLUavLJVS6pijr0iCuUzMygvZCv5Q-PcHk4L8yDyzhNy8eJhkxwtsz3bpNVdlYSFuSzfB-F_ROLCmk6-Xm_-pnLtSAkoEYkMDpfiw=s0">
                  </a>
                </li>
                <li>
                  <a class="social-icons"
                    data-g-action="click"
                    data-g-event="social"
                    data-g-label="youtube"
                    href="https://www.youtube.com/user/googleplay"
                    target="_blank">
                    <img alt="Follow Google Play on youtube" src="https://lh3.googleusercontent.com/Jf950iL8yGTqQuU8C_3LOUuITU-B4mV4GJ1GPh5-Ye2lWNivay9l1ijWPVezHRBB9uXcMkX7qBFZHusDK4C3UzLqpabABToldIIhEr4=s0">
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="maia-footer-global">
    <div class="maia-aux">
      <div class="maia-locales">
        <label>
          <select name="language" class="js-language">
            <option value="">Select Language</option>
              <option hreflang="ar"
                rel="alternate"
                value="/intl/ar/badges/">
                العربية
              </option>
              <option hreflang="en_us"
                rel="alternate"
                value="/intl/en_us/badges/"selected>
                English (United States)
              </option>
              <option hreflang="es-419"
                rel="alternate"
                value="/intl/es-419/badges/">
                español (Latinoamérica)
              </option>
              <option hreflang="es"
                rel="alternate"
                value="/intl/es/badges/">
                español
              </option>
              <option hreflang="id"
                rel="alternate"
                value="/intl/id/badges/">
                Indonesia
              </option>
              <option hreflang="ja"
                rel="alternate"
                value="/intl/ja/badges/">
                日本語
              </option>
              <option hreflang="ko"
                rel="alternate"
                value="/intl/ko/badges/">
                한국어
              </option>
              <option hreflang="pt-BR"
                rel="alternate"
                value="/intl/pt-BR/badges/">
                português (Brasil)
              </option>
              <option hreflang="zh-TW"
                rel="alternate"
                value="/intl/zh-TW/badges/">
                中文 (繁體)
              </option>
          </select>
        </label>
      </div>
    <ul>
      <li>
        <a href="https://www.google.com/">Google</a>
      </li>
      <li>
        <a href="https://about.google/intl/en/">About Google</a>
      </li>
      <li>
        <a href="https://policies.google.com/privacy">Privacy</a>
      </li>
      <li>
        <a href="https://policies.google.com/terms">Terms</a>
      </li>
      <li aria-hidden="true" class="glue-footer__global-links-list-item">
        <button aria-hidden="true" class="glue-footer__link glue-cookie-notification-bar-control">
          Cookies management controls
        </button>
      </li>
    </ul>
    </div>
  </div>
</div>

<span class="badges-data" data-services-attrs='[{
      "af": "Google Play en die Google Play-logo is handelsmerke van Google LLC.",
      "altText": "በGoogle Play ላይ ያግኙት",
      "language": "Afrikaans",
      "lang": "af"
    },{
      "sq": "Google Play dhe logoja e Google Play janë marka tregtare të Google LLC.",
      "altText": "Merre në Google Play",
      "language": "Albanian",
      "lang": "sq"
    },{
      "am": "Google Play እና የGoogle Play አርማ የGoogle LLC ንግድ ምልክቶች ናቸው",
      "altText": "Kry dit op Google Play",
      "language": "Amharic",
      "lang": "am"
    },{
      "ar": "Google Play وشعار Google Play هما علامتان تجاريتان لشركة Google LLC‎",
      "altText": "احصل عليه من Google Play",
      "language": "Arabic",
      "lang": "ar"
    },{
      "hy": "Google Play-ը և Google Play-ի պատկերանշանը հանդիսանում են Google LLC-ի ապրանքանիշերը",
      "altText": "Գտեք այստեղ՝ Google Play",
      "language": "Armenian",
      "lang": "hy"
    },{
      "az": "Google Play və Google Play loqoları Google LLC korporasiyasının ticarət nişanlarıdır.",
      "altText": "Google Play&#39;də əldə edin",
      "language": "Azerbaijani",
      "lang": "az"
    },{
      "eu": "Google Play eta Google Play logotipoa Google LLC enpresaren marka komertzialak dira.",
      "altText": "Lortu Google Play dendan",
      "language": "Basque",
      "lang": "eu"
    },{
      "be": "Google Play і лагатып Google Play з&#39;яўляюцца таварнымі знакамі карпарацыі Google LLC.",
      "altText": "Спампуйце з Google Play",
      "language": "Belarusian",
      "lang": "be"
    },{
      "bs": "Google Play i logotip Google Play su zaštitni znaci kompanije Google LLC.",
      "altText": "Nabavite na usluzi Google Play",
      "language": "Bosnian",
      "lang": "bs"
    },{
      "bn": "Google Play এবং Google Play লোগো Google LLC এর ট্রেডমার্ক।",
      "altText": "এটি Google Play তে পান",
      "language": "Bengali",
      "lang": "bn"
    },{
      "bg": "Google Play и логото на Google Play са запазени марки на Google LLC.",
      "altText": "Предлага се в Google Play",
      "language": "Bulgarian",
      "lang": "bg"
    },{
      "my": "Google Play နှင့် Google Play သင်္ကေတတို့သည် Google LLC ၏ ကုန်သွယ်မှုအမှတ်တံဆိပ်များ ဖြစ်သည်။",
      "altText": "Google Play တွင် ယင်းကို ရယူပါ",
      "language": "Burmese",
      "lang": "my"
    },{
      "ca": "Google Play i el logotip de Google Play són marques comercials de Google LLC.",
      "altText": "Disponible a Google Play",
      "language": "Catalan",
      "lang": "ca"
    },{
      "zh-hk": "Google Play 和 Google Play 標誌均為 Google LLC 的商標。",
      "altText": "立即下載 Google Play",
      "language": "Chinese (HK)",
      "lang": "zh-hk"
    },{
      "zh-cn": "Google Play 和 Google Play 徽标均为 Google LLC 的商标。",
      "altText": "下载应用，请到 Google Play",
      "language": "Chinese (CN)",
      "lang": "zh-cn"
    },{
      "zh-tw": "Google Play 和 Google Play 標誌均為 Google LLC 的商標。",
      "altText": "Google Play立即下載",
      "language": "Chinese (TW)",
      "lang": "zh-tw"
    },{
      "hr": "Google Play i logotip Google Playa zaštitni su znaci tvrtke Google LLC.",
      "altText": "Dostupno na usluzi Google Play",
      "language": "Croatian",
      "lang": "hr"
    },{
      "cs": "Google Play a logo Google Play jsou ochranné známky společnosti Google LLC.",
      "altText": "Nyní na Google Play",
      "language": "Czech",
      "lang": "cs"
    },{
      "da": "Google Play og Google Play-logoet er varemærker tilhørende Google LLC.",
      "altText": "Nu på Google Play",
      "language": "Danish",
      "lang": "da"
    },{
      "nl": "Google Play en het logo van Google Play zijn handelsmerken van Google LLC.",
      "altText": "Ontdek het op Google Play",
      "language": "Dutch",
      "lang": "nl"
    },{
      "en": "Google Play and the Google Play logo are trademarks of Google LLC.",
      "altText": "Get it on Google Play",
      "language": "English",
      "lang": "en"
    },{
      "et": "Google Play ja Google Play logo on ettevõtte Google LLC kaubamärgid.",
      "altText": "Hankige see Google Play",
      "language": "Estonian",
      "lang": "et"
    },{
      "fa": "Google Play و نشان‌واره Google Play علامت‌های تجاری Google LLC‎ هستند",
      "altText": "در Google Play دریافت کنید",
      "language": "Farsi",
      "lang": "fa"
    },{
      "fil": "Ang Google Play at ang logo ng Google Play ay mga trademark ng Google LLC.",
      "altText": "Kunin ito sa Google Play",
      "language": "Filipino",
      "lang": "fil"
    },{
      "fi": "Google Play ja Google Play ‑logo ovat Google LLC:n tavaramerkkejä.",
      "altText": "Get it on Google Play",
      "language": "Finnish",
      "lang": "fi"
    },{
      "fr": "Google Play et le logo Google Play sont des marques de Google LLC.",
      "altText": "Disponible sur Google Play",
      "language": "French",
      "lang": "fr"
    },{
      "fr-ca": "Google Play et le logo de Google Play sont des marques de commerce de Google LLC.",
      "altText": "Disponible sur Google Play",
      "language": "French (CA)",
      "lang": "fr-ca"
    },{
      "gl": "Google Play e o logotipo de Google Play son marcas comerciais de Google LLC.",
      "altText": "Dispoñible en Google Play",
      "language": "Galician",
      "lang": "gl"
    },{
      "ka": "Google Play და Google Play-ს ლოგო Google LLC-ის სასაქონლო ნიშნებს წარმოადგენს.",
      "altText": "ჩამოტვირთეთ Google Play-დან",
      "language": "Georgian",
      "lang": "ka"
    },{
      "de": "Google Play und das Google Play-Logo sind Marken von Google LLC.",
      "altText": "Jetzt bei Google Play",
      "language": "German",
      "lang": "de"
    },{
      "el": "Η επωνυμία Google Play και το λογότυπο Google Play αποτελούν εμπορικά σήματα της Google LLC.",
      "altText": "Αποκτήστε το στο Google Play",
      "language": "Greek",
      "lang": "el"
    },{
      "gu": "Google Play અને Google Play લૉગો Google LLC નાં ટ્રેડમાર્ક્સ છે.",
      "altText": "Google Play પર મેળવો",
      "language": "Gujarati",
      "lang": "gu"
    },{
      "iw": "Google Play והלוגו של Google Play הם סימנים מסחריים של Google LLC‎",
      "altText": "Google Play כעת ב-",
      "language": "Hebrew",
      "lang": "iw"
    },{
      "hi": "Google Play और Google Play लोगो, Google LLC के ट्रेडमार्क हैं",
      "altText": "Google Play पर पाएं",
      "language": "Hindi",
      "lang": "hi"
    },{
      "hu": "A Google Play és a Google Play-logó a Google LLC védjegyei.",
      "altText": "Szerezd meg: Google Play",
      "language": "Hungarian",
      "lang": "hu"
    },{
      "is": "Google Play og merki Google Play eru vörumerki Google LLC.",
      "altText": "Sækja frá Google Play",
      "language": "Icelandic",
      "lang": "is"
    },{
      "id": "Google Play dan logo Google Play adalah merek dagang Google LLC.",
      "altText": "Temukan di Google Play",
      "language": "Indonesian",
      "lang": "id"
    },{
      "it": "Google Play e il logo di Google Play sono marchi di Google LLC.",
      "altText": "Disponibile su Google Play",
      "language": "Italian",
      "lang": "it"
    },{
      "ja": "Google Play および Google Play ロゴは、Google LLC の商標です。",
      "altText": "Google Play で手に入れよう",
      "language": "Japanese",
      "lang": "ja"
    },{
      "kn": "Google Play ಮತ್ತು Google Play ಲೋಗೊ ಇವು Google LLC ನ ಟ್ರೇಡ್‌ಮಾರ್ಕ್‌ಗಳಾಗಿವೆ.",
      "altText": "ಅದನ್ನು Google Play ನಲ್ಲಿ ಪಡೆದುಕೊಳ್ಳಿ",
      "language": "Kannada",
      "lang": "kn"
    },{
      "kk": "Google Play және Google Play логотипі Google LLC компаниясының сауда белгілері болып табылады.",
      "altText": "Google Play арқылы жүктеңіз",
      "language": "Kazakh",
      "lang": "kk"
    },{
      "km": "Google Play និងនិមិត្តសញ្ញា Google Play គឺជាសញ្ញាពាណិជ្ជកម្មរបស់ក្រុមហ៊ុន Google LLC.",
      "altText": "ទាញយកវានៅលើ Google Play",
      "language": "Khmer",
      "lang": "km"
    },{
      "ko": "Google Play 및 Google Play 로고는 Google LLC의 상표입니다.",
      "altText": "다운로드하기 Google Play",
      "language": "Korean",
      "lang": "ko"
    },{
      "ky": "Google Play жана Google Play логотиби - Google LLC компаниясынын соода белгилери.",
      "altText": "Google Play&#39;ден алыңыз",
      "language": "Kyrgyz",
      "lang": "ky"
    },{
      "lo": "Google Play ແລະ ໂລໂກ້ Google Play ແມ່ນເຄື່ອງໝາຍການຄ້າຂອງ Google LLC.",
      "altText": "ດາວໂຫລດໄດ້ຈາກ Google Play",
      "language": "Lao",
      "lang": "lo"
    },{
      "lv": "Google Play un Google Play logotips ir Google LLC preču zīmes.",
      "altText": "ielādēt no Google Play",
      "language": "Latvian",
      "lang": "lv"
    },{
      "lt": "„Google Play“ ir „Google Play“ logotipas yra „Google LLC“ prekių ženklai.",
      "altText": "Gauti iš Google Play",
      "language": "Lithuanian",
      "lang": "lt"
    },{
      "mk": "Google Play и логото на Google Play се заштитни знаци на Google LLC.",
      "altText": "Достапно на Google Play",
      "language": "Macedonian",
      "lang": "mk"
    },{
      "ms": "Google Play dan logo Google Play ialah tanda dagangan Google LLC.",
      "altText": "Dapatkan di Google Play",
      "language": "Malay",
      "lang": "ms"
    },{
      "ml": "Google Play, Google Play ലോഗോ എന്നിവ Google LLC-ന്റെ വ്യാപാരമുദ്രകളാണ്.",
      "altText": "ഇത് Google Play-യിൽ സ്വീകരിക്കുക",
      "language": "Malayalam",
      "lang": "ml"
    },{
      "mr": "Google Play आणि Google Play लोगो हे Google LLC चे ट्रेडमार्क आहेत.",
      "altText": "Google Play वर ते मिळवा",
      "language": "Marathi",
      "lang": "mr"
    },{
      "mn": "Google Play, Google Play-н лого нь Google LLC-н худалдааны тэмдэг юм.",
      "altText": "Google Play-ээс авах",
      "language": "Mongolian",
      "lang": "mn"
    },{
      "ne": "Google Play र Google Play लोगो Google LLC का ट्रेडमार्कहरू हुन्।",
      "altText": "Google Play मा प्राप्त गर्नुहोस्",
      "language": "Nepali",
      "lang": "ne"
    },{
      "no": "Google Play og Google Play-logoen er varemerker tilhørende Google LLC.",
      "altText": "Tilgjengelig på Google Play",
      "language": "Norwegian",
      "lang": "no"
    },{
      "pl": "Google Play i logo Google Play są znakami towarowymi firmy Google LLC.",
      "altText": "pobierz z Google Play",
      "language": "Polish",
      "lang": "pl"
    },{
      "pt": "Google Play e o logótipo do Google Play são marcas comerciais da Google LLC.",
      "altText": "Disponível no Google Play",
      "language": "Portuguese",
      "lang": "pt"
    },{
      "pt-br": "Google Play e o logotipo do Google Play são marcas registradas da Google LLC.",
      "altText": "Disponível no Google Play",
      "language": "Portuguese (BR)",
      "lang": "pt-br"
    },{
      "pa": "Google Play ਅਤੇ Google Play ਲੋਗੋ Google LLC ਦੇ ਟ੍ਰੇਡਮਾਰਕ ਹਨ।",
      "altText": "ਇਸਨੂੰ Google Play ਤੇ ਪ੍ਰਾਪਤ ਕਰੋ",
      "language": "Punjabi",
      "lang": "pa"
    },{
      "ro": "Google Play și sigla Google Play sunt mărci comerciale deținute de Google LLC.",
      "altText": "acum pe Google Play",
      "language": "Romanian",
      "lang": "ro"
    },{
      "ru": "Google Play и логотип Google Play являются товарными знаками корпорации Google LLC.",
      "altText": "Доступно в Google Play",
      "language": "Russian",
      "lang": "ru"
    },{
      "sr": "Google Play и логотип Google Play-а су жигови компаније Google LLC.",
      "altText": "Набавите на Google Play",
      "language": "Serbian",
      "lang": "sr"
    },{
      "si": "Google Play සහ Google Play ලාංඡනය Google LLC හි වෙළඳ ලකුණුය.",
      "altText": "එය Google Play වෙතින් ලබාගන්න",
      "language": "Sinhalese",
      "lang": "si"
    },{
      "sk": "Google Play a logo Google Play sú ochrannými známkami spoločnosti Google LLC.",
      "altText": "Teraz na Google Play",
      "language": "Slovak",
      "lang": "sk"
    },{
      "sl": "Google Play in logotip Googla Play sta blagovni znamki podjetja Google LLC.",
      "altText": "na voljo v Google Play",
      "language": "Slovenian",
      "lang": "sl"
    },{
      "es": "Google Play y el logotipo de Google Play son marcas comerciales de Google LLC.",
      "altText": "Disponible en Google Play",
      "language": "Spanish",
      "lang": "es"
    },{
      "es-419": "Google Play y el logotipo de Google Play son marcas comerciales de Google LLC.",
      "altText": "Disponible en Google Play",
      "language": "Spanish (LATAM)",
      "lang": "es-419"
    },{
      "sw": "Google Play na nembo ya Google Play ni chapa za biashara za Google LLC.",
      "altText": "Ipate kwenye Google Play",
      "language": "Swahili",
      "lang": "sw"
    },{
      "sv": "Google Play och logotypen för Google Play är varumärken som tillhör Google LLC.",
      "altText": "Ladda ned på Google Play",
      "language": "Swedish",
      "lang": "sv"
    },{
      "ta": "Google Play, Google Play லோகோ ஆகியவை Google LLC இன் வர்த்தகமுத்திரைகள் ஆகும்",
      "altText": "Google Play இல் பெறுக",
      "language": "Tamil",
      "lang": "ta"
    },{
      "te": "Google Play మరియు Google Play లోగో అనేవి Google LLC వ్యాపారచిహ్నాలు",
      "altText": "Google Playలో దీన్ని పొందండి",
      "language": "Telugu",
      "lang": "te"
    },{
      "th": "Google Play และโลโก้ของ Google Play เป็นเครื่องหมายการค้าของ Google LLC.",
      "altText": "ดาวน์โหลดได้จาก Google Play",
      "language": "Thai",
      "lang": "th"
    },{
      "tr": "Google Play ve Google Play logosu Google LLC kuruluşunun ticari markalarıdır.",
      "altText": "Google Play&#39;den alın",
      "language": "Turkish",
      "lang": "tr"
    },{
      "ua": "Google Play і логотип Google Play є торговельними марками корпорації Google LLC.",
      "altText": "Завантажити з Google Play",
      "language": "Ukrainian",
      "lang": "ua"
    },{
      "ur": "Google Play اور Google Play لوگو Google LLC‎ کے ٹریڈ مارکس ہیں",
      "altText": "اسے Google Play پر حاصل کریں",
      "language": "Urdu",
      "lang": "ur"
    },{
      "uz": "Google Play va Google Play logotipi Google LLC savdo belgilari hisoblanadi.",
      "altText": "Google Play orqali oling",
      "language": "Uzbek",
      "lang": "uz"
    },{
      "vi": "Google Play và biểu trưng Google Play là các nhãn hiệu của Google LLC.",
      "altText": "Tải nội dung trên Google Play",
      "language": "Vietnamese",
      "lang": "vi"
    },{
      "zu": "I-Google Play nelogo ye-Google Play kuyizimpawu zohwebo ze-Google LLC.",
      "altText": "kuthole ku-Google Play",
      "language": "Zulu",
      "lang": "zu"
    }]
'></span>    </div>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js" nonce="8CAyB9qnPyeUh3nthMVGCg"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-animate.min.js" nonce="8CAyB9qnPyeUh3nthMVGCg"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-touch.min.js" nonce="8CAyB9qnPyeUh3nthMVGCg"></script>
    <script src="/intl/en_us/badges/static/js/index.min.js?cache=5a822d4" nonce="8CAyB9qnPyeUh3nthMVGCg"></script>
    <script src="https://www.gstatic.com/glue/cookienotificationbar/cookienotificationbar.min.js"
        data-glue-cookie-notification-bar-category="2A"
        data-glue-cookie-notification-bar-language="en"
        data-glue-cookie-notification-bar-site-id="play.google.com/badges" nonce="8CAyB9qnPyeUh3nthMVGCg">
    </script>
  </body>
</html>
<!-- force update -->